---
// src/layouts/Layout.astro
import '../styles/global.css';
import CustomCursor from '../components/CustomCursor.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

// Тимчасово хардкодимо мову
const lang: string = 'uk';
const themeLightText = 'СВІТЛО';
const themeDarkText = 'ТЕМРЯВА';
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} — PUSHKAREFF</title>
		
		<script is:inline>
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme');
				}
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					return 'dark';
				}
				return 'light';
			})();
			if (theme === 'dark') {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}

			const hues = [354, 210, 160, 280, 25, 190];
			const randomHue = hues[Math.floor(Math.random() * hues.length)];
			document.documentElement.style.setProperty('--accent-h', randomHue.toString());
		</script>
	</head>
	
	<body class="relative">
		<CustomCursor />
		
		<div class="site-wrapper">
			
			<nav class="top-nav">
				<div class="nav-links-group">
					<a href="/" class={`nav-link ${lang === 'uk' ? 'is-active' : 'is-inactive'}`}>UK</a>
					<a href="/en" class={`nav-link ${lang === 'en' ? 'is-active' : 'is-inactive'}`}>EN</a>
				</div>
				
				<button id="top-theme-toggle" class="theme-toggle-btn">
					<span class="dark:hidden">{themeDarkText}</span>
					<span class="hidden dark:inline text-white">{themeLightText}</span>
				</button>
			</nav>

			<slot />

		</div>

		<script>
			const themeBtn = document.getElementById('top-theme-toggle');
			themeBtn?.addEventListener('click', () => {
				const isDark = document.documentElement.classList.toggle('dark');
				localStorage.setItem('theme', isDark ? 'dark' : 'light');
			});
		</script>
	</body>
</html>